{% extends "base.html" %}

{% block title %}ImageAIServer API Documentation{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://unpkg.com/swagger-ui-dist@5.9.0/swagger-ui.css" />
<style>
    #swagger-ui { padding-top: 0; }
    .swagger-ui .topbar { display: none; }
</style>
{% endblock %}

{% block content %}
<div id="swagger-ui"></div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/swagger-ui-dist@5.9.0/swagger-ui-bundle.js"></script>
<script>
    const ui = SwaggerUIBundle({
        url: '/openapi.json',
        dom_id: '#swagger-ui',
        presets: [
            SwaggerUIBundle.presets.apis,
            SwaggerUIBundle.presets.standalone
        ],
        layout: "BaseLayout",
        deepLinking: true,
        showExtensions: true,
        showCommonExtensions: true,
        tryItOutEnabled: true
    });
</script>
{% endblock %}